HTML {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
HTML {
	BACKGROUND: url(BG.jpg) #191919; COLOR: #333
}
BODY {
	TEXT-ALIGN: right; WIDTH: 100%; FONT: 13px Arial, Helvetica, sans-serif; DIRECTION: rtl
}
A {
	OUTLINE-STYLE: none; OUTLINE-WIDTH: 0px
}
#Q0 {
	MARGIN: 0px auto; WIDTH: 960px; DISPLAY: block; HEIGHT: 100%
}
#Q1 {
	POSITION: relative; WIDTH: 960px; MARGIN-BOTTOM: 1px
}
#Q2 {
	POSITION: relative; WIDTH: 960px; MARGIN-BOTTOM: 1px
}
#Q3 {
	POSITION: relative; WIDTH: 960px; MARGIN-BOTTOM: 1px
}
#Q1 {
	BACKGROUND: url(Top.png) no-repeat center top; HEIGHT: 60px
}
#Q2 {
	BACKGROUND: url(Skin/SpriteSheet.png) #a01212 repeat-x right -800px; HEIGHT: 50px
}
#Q3 {
	MARGIN-BOTTOM: 2px; BACKGROUND: #a01212; HEIGHT: 200px
}
#Q31 {
	MARGIN-BOTTOM: 2px; BACKGROUND: url(InnerHeader.jpg) #a01212 no-repeat center top; HEIGHT: 100px
}
#Q4 {
	WIDTH: 960px; BACKGROUND: #eceff2; OVERFLOW: hidden
}
#Q41M {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q41R {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q42L {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q42M {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q43L {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q43M {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q43R {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#Q41M {
	WIDTH: 726px; BACKGROUND: #eceff2; FLOAT: left
}
#Q41R {
	WIDTH: 226px; BACKGROUND: #dfe3ea; FLOAT: right
}
#Q42L {
	WIDTH: 246px; BACKGROUND: #dfe3ea; FLOAT: left
}
#Q42M {
	WIDTH: 706px; BACKGROUND: #eceff2; FLOAT: right
}
#Q43L {
	WIDTH: 246px; BACKGROUND: #dfe3ea; FLOAT: left
}
#Q43M {
	WIDTH: 476px; BACKGROUND: #fff; FLOAT: left
}
#Q43R {
	WIDTH: 226px; BACKGROUND: #b21313; FLOAT: right
}
#Q5 {
	WIDTH: 960px; BACKGROUND: #ced5df; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #333 1px solid
}
#Q6 {
	PADDING-BOTTOM: 5px; MARGIN: 5px 0px 10px; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; COLOR: #eee; PADDING-TOP: 2px
}
#Q6 .poweredBy {
	WIDTH: 200px; DISPLAY: inline-block; BACKGROUND: url(Skin/QualishLogo.png) no-repeat 0px -75px; FLOAT: left; HEIGHT: 25px
}
H1 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FONT-SIZE: 28px; PADDING-TOP: 10px
}
.tH1 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; DISPLAY: block; FONT-SIZE: 28px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
H2 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; PADDING-TOP: 8px
}
.tH2 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
H3 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.tH3 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.title {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; FONT: bold 12px/25px Arial; HEIGHT: 25px; PADDING-TOP: 0px
}
.title1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; FONT: bold 12px/25px Arial; HEIGHT: 25px; PADDING-TOP: 0px
}
.title2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; FONT: bold 12px/25px Arial; HEIGHT: 25px; PADDING-TOP: 0px
}
.title {
	BACKGROUND: url(Skin/SpriteSheet2.png) #a01212 repeat-x right 0px; COLOR: #eee
}
.title1 {
	
}
.title2 {
	BACKGROUND: #7d7d7d; COLOR: #fff
}
.text {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 50px; PADDING-RIGHT: 20px; FONT-SIZE: 16px; PADDING-TOP: 0px
}
.text P {
	MARGIN-BOTTOM: 15px
}
.text .time {
	FONT-SIZE: 12px
}
.text .publisher {
	FONT-SIZE: 14px
}
.text .category {
	
}
.link_b {
	COLOR: #0080c0; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.links_b A {
	COLOR: #0080c0; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.link_b:hover {
	TEXT-DECORATION: underline
}
.links_b A:hover {
	TEXT-DECORATION: underline
}
.bigBtn {
	BORDER-LEFT: #b21313 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: inline-block; FONT: bold 16px/40px Arial; BACKGROUND: url(Skin/SpriteSheet.png) repeat-x right -1000px; HEIGHT: 40px; COLOR: #fff; BORDER-RIGHT: #b21313 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.bigBtn:hover {
	BACKGROUND-POSITION: right -1040px
}
.inputFrame {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.inputDiv {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 4px
}
.searchDiv {
	BORDER-BOTTOM: #456514 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #97cb49; PADDING-TOP: 3px
}
.inputDiv LABEL {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.searchDiv LABEL {
	
}
.inputDiv INPUT[type=text] {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 16px Arial; COLOR: #666666; BORDER-TOP: #ccc 2px solid; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 4px
}
.inputDiv INPUT[type=password] {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 16px Arial; COLOR: #666666; BORDER-TOP: #ccc 2px solid; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 4px
}
.inputDiv SELECT {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 16px Arial; COLOR: #666666; BORDER-TOP: #ccc 2px solid; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 4px
}
.inputDiv TEXTAREA {
	BORDER-BOTTOM: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 16px Arial; COLOR: #666666; BORDER-TOP: #ccc 2px solid; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 4px
}
.inputDiv INPUT[type=radio] {
	PADDING-BOTTOM: 0px; MARGIN: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.chkbtn {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN.error {
	WIDTH: auto; FLOAT: none; COLOR: #ff5050; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
#QNTR UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#QNTL UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#QNTR UL {
	
}
#QNTR UL LI {
	BORDER-LEFT: #690c0c 1px dotted; FLOAT: right
}
#QNTR UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 50px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; HEIGHT: 50px; COLOR: #fff; FONT-SIZE: 16px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#QNTR UL LI A:hover {
	DISPLAY: block; BACKGROUND: #b61414; COLOR: #fff
}
#QNTL UL {
	FLOAT: left
}
#QNTL UL LI {
	FLOAT: left; BORDER-RIGHT: #690c0c 1px dotted
}
#QNTL UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 50px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; HEIGHT: 50px; COLOR: #fff; FONT-SIZE: 16px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#QNTL UL LI A:hover {
	DISPLAY: block; BACKGROUND: #b61414; COLOR: #fff
}
#QNTV UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#QNTV UL LI {
	MARGIN-TOP: 1px; BACKGROUND: url(Skin/SpriteSheet2.png) #e82f2f repeat-x right -25px
}
#QNTV UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 25px; COLOR: #eee; FONT-SIZE: 14px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#QNTV UL LI A:hover {
	BACKGROUND: #f80707; COLOR: #fff
}
#QNTV2 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#QNTV2 UL LI {
	MARGIN-TOP: 1px; BACKGROUND: #e82f2f
}
#QNTV2 UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 40px; COLOR: #eee; FONT-SIZE: 14px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#QNTV2 UL LI A:hover {
	BACKGROUND: #f80707; COLOR: #fff
}
.bg1 {
	BACKGROUND: #e9eff7
}
.bg2 {
	BACKGROUND: #eceff2
}
.bg3 {
	MIN-HEIGHT: 300px; BACKGROUND: url(Skin/BG2.png) #eceff2 repeat-x 0px 0px
}
.textBody {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(Skin/SpriteSheet.png) repeat-x right 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bigTexBody {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(Skin/SpriteSheet.png) repeat-x right 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bigTexBody A {
	WIDTH: 100%; DISPLAY: inline-block; COLOR: #333; TEXT-DECORATION: none
}
.textBody A {
	WIDTH: 100%; DISPLAY: inline-block; COLOR: #333; TEXT-DECORATION: none
}
.bigTexBody A:hover {
	COLOR: #0080c0
}
.textBody A:hover {
	COLOR: #0080c0
}
.bigTexBody {
	MIN-HEIGHT: 129px; BACKGROUND-POSITION: right 0px
}
.textBody {
	MIN-HEIGHT: 50px; BACKGROUND-POSITION: right -200px
}
.newsBox {
	HEIGHT: 132px
}
.padding1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.padding2 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.padding3 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.padding4 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.hLine {
	WIDTH: 100%; DISPLAY: block; BORDER-TOP: #ccc 1px solid
}
.moreLinks {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.moreLinks A {
	COLOR: #0080c0; TEXT-DECORATION: none
}
.moreLinks A:hover {
	TEXT-DECORATION: underline
}
.pic {
	MARGIN: 0px 0px 2px 10px; FLOAT: right
}
.pics IMG {
	MARGIN: 0px 0px 2px 10px
}
.time1 {
	FONT: 12px Arial
}
#Partners UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#Partners UL LI {
	MARGIN-TOP: 2px; BACKGROUND: url(Skin/SpriteSheet.png) #fff repeat-x right -50px; HEIGHT: 70px
}
#Partners UL LI A {
	
}
#Partners UL LI A:hover {
	
}
#Sponsors UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#Sponsors UL LI {
	MARGIN: 0px 8px 10px 0px; WIDTH: 230px; DISPLAY: inline-block; BACKGROUND: #c9d0dc; FLOAT: right; HEIGHT: 70px
}
.banner {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e9eff7; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.bannerLong {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #e9eff7; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.shopBox {
	HEIGHT: 130px
}
.shopItem {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; MARGIN: 0px; WIDTH: 154px; BACKGROUND: #eee; FLOAT: right; HEIGHT: 125px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
.pollBox {
	PADDING-BOTTOM: 0px; MIN-HEIGHT: 123px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.panelAnswersLbl {
	BORDER-BOTTOM: #ccc 3px solid; MARGIN: 20px 10px; WIDTH: 190px; DISPLAY: inline-block
}
#ScoreBoard {
	OVERFLOW: hidden
}
#ScoreBoard .team {
	MARGIN: 5px; FONT-WEIGHT: bold
}
#ScoreBoard .score {
	BORDER-BOTTOM: #666 1px; BORDER-LEFT: #666 1px dotted; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline-block; COLOR: #b21313; BORDER-TOP: #666 1px; BORDER-RIGHT: #666 1px dotted; PADDING-TOP: 0px
}
#NextGame {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 7px
}
#NextGame SPAN {
	FONT-WEIGHT: bold
}
#Video {
	
}
#VideoList {
	
}
#VideoList .video {
	MARGIN: 5px 4px; WIDTH: 355px; DISPLAY: inline-block; FLOAT: right
}
#VideoList .video .description {
	DISPLAY: block; HEIGHT: 55px; OVERFLOW: hidden
}
#FollowUs .facebook {
	WIDTH: 60px; DISPLAY: inline-block; BACKGROUND: url(Skin/FollowUs.png) no-repeat; HEIGHT: 75px; MARGIN-LEFT: 2px
}
#FollowUs .twitter {
	WIDTH: 60px; DISPLAY: inline-block; BACKGROUND: url(Skin/FollowUs.png) no-repeat; HEIGHT: 75px; MARGIN-LEFT: 2px
}
#FollowUs .rss {
	WIDTH: 60px; DISPLAY: inline-block; BACKGROUND: url(Skin/FollowUs.png) no-repeat; HEIGHT: 75px; MARGIN-LEFT: 2px
}
#FollowUs .youtube {
	WIDTH: 60px; DISPLAY: inline-block; BACKGROUND: url(Skin/FollowUs.png) no-repeat; HEIGHT: 75px; MARGIN-LEFT: 2px
}
#FollowUs .facebook {
	BACKGROUND-POSITION: left -150px
}
#FollowUs .twitter {
	BACKGROUND-POSITION: left -225px
}
#FollowUs .rss {
	BACKGROUND-POSITION: left -75px
}
#FollowUs .youtube {
	BACKGROUND-POSITION: left 0px; MARGIN-LEFT: 0px
}
#LeagueBoard {
	FONT-SIZE: 12px
}
#LeagueBoard TR.head {
	LINE-HEIGHT: 20px
}
#LeagueBoard TR TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.leagueBoard TR TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#LeagueBoard .row {
	BACKGROUND: #dfe3ea
}
#LeagueBoard TR.head {
	BACKGROUND: #dfe3ea
}
#LeagueBoard .altRow {
	BACKGROUND: #eceff2
}
.hackForIE7_leagBoard {
	MARGIN-TOP: -17px
}
LABEL.error {
	WIDTH: auto; FLOAT: none; COLOR: #ff5050; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
.messageBox {
	COLOR: #ff5050; FONT-WEIGHT: bold
}
.pagerDiv {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #e9eff7; FONT-SIZE: 14px; PADDING-TOP: 2px
}
.pagerDiv .pages A {
	BORDER-BOTTOM: #b3c8e3 1px solid; BORDER-LEFT: #b3c8e3 1px solid; PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline-block; COLOR: #3a68a5; BORDER-TOP: #b3c8e3 1px solid; BORDER-RIGHT: #b3c8e3 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.pages A:hover {
	BORDER-BOTTOM: #3a68a5 1px solid; BORDER-LEFT: #3a68a5 1px solid; BACKGROUND: #d5e0f0; BORDER-TOP: #3a68a5 1px solid; BORDER-RIGHT: #3a68a5 1px solid
}
.pages A.curPage {
	BORDER-BOTTOM: #3a68a5 1px solid; BORDER-LEFT: #3a68a5 1px solid; BORDER-TOP: #3a68a5 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #3a68a5 1px solid
}
#gallery {
	WIDTH: 100%
}
#gallery UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#gallery UL LI {
	DISPLAY: inline
}
#gallery UL IMG {
	BORDER-BOTTOM: #0080c0 2px solid; BORDER-LEFT: #0080c0 2px solid; BORDER-TOP: #0080c0 2px solid; BORDER-RIGHT: #0080c0 2px solid
}
#gallery UL A:hover IMG {
	BORDER-BOTTOM: #b21313 2px solid; BORDER-LEFT: #b21313 2px solid; COLOR: #fff; BORDER-TOP: #b21313 2px solid; BORDER-RIGHT: #b21313 2px solid
}
#gallery UL A:hover {
	COLOR: #fff
}
#gallery UL IMG.clearBoarder {
	BORDER-BOTTOM: transparent 2px solid; BORDER-LEFT: transparent 2px solid; BORDER-TOP: transparent 2px solid; BORDER-RIGHT: transparent 2px solid
}
#gallery UL IMG.clearBoarder:hover {
	BORDER-BOTTOM: transparent 2px solid; BORDER-LEFT: transparent 2px solid; BORDER-TOP: transparent 2px solid; BORDER-RIGHT: transparent 2px solid
}
.marquee {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 10px; HEIGHT: 130px; PADDING-TOP: 10px
}
.marquee UL LI {
	LIST-STYLE-TYPE: none; DISPLAY: block; MARGIN-BOTTOM: 0px; HEIGHT: 60px
}
#Slideshow {
	TEXT-ALIGN: left; HEIGHT: 200px; OVERFLOW: hidden
}
